<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Additional Devices</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" size-md="6">
        <ion-card button="true" style="height: 80%">
          <ion-avatar class="avatar">
            <img src="" />
          </ion-avatar>
          <ion-card-header>
            <ion-card-title class="ion-text-center"
              >Blood Pressure Monitor</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-card button="true" style="height: 80%">
          <ion-avatar class="avatar">
            <img src="" />
          </ion-avatar>
          <ion-card-header>
            <ion-card-title class="ion-text-center"
              >Wireless Thermometer</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-card button="true" style="height: 80%">
          <ion-avatar class="avatar">
            <img src="" />
          </ion-avatar>
          <ion-card-header>
            <ion-card-title class="ion-text-center"
              >Wireless Glucometer</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-card button="true" style="height: 80%">
          <ion-avatar class="avatar">
            <img src="" />
          </ion-avatar>
          <ion-card-header>
            <ion-card-title class="ion-text-center">ECG Monitor</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col class="col-6" size="6" size-md="6">
        <ion-card button="true" style="height: 80%">
          <ion-avatar class="avatar">
            <img src="" />
          </ion-avatar>
          <ion-card-header>
            <ion-card-title class="ion-text-center"
              >Fitness Tracker</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col offset="2" size="8">
      <ion-button
        style="margin-top: 10px"
        expand="full"
        shape="round"
        color="light"
        >Skip</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
