.roundedInput {
  --border-color: var(--ion-color-medium-shade);
  --border-radius: 10px;
  --border-width: 2px;
  --box-shadow: 2px gray;
  --highlight-height: 0;
  --background: #ffffff;
}

:host {
  ion-button {
    --border-radius: 40px;
    text-transform: none;
  }
}
