<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Security</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed style="padding-top: 50px">
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-item>
          <ion-label>Create a device PIN</ion-label>
          <ion-icon
            slot="end"
            name="information-circle-outline"
            class="info-icon"
          ></ion-icon
        ></ion-item>
        <ion-item class="roundedInput"> <ion-input></ion-input></ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-item> <ion-label>Confirm device PIN</ion-label></ion-item>
        <ion-item class="roundedInput">
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-item lines="none">
          <ion-label>or use finger print reader</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-avatar class="avatar">
            <ion-icon size="large" name="finger-print-outline"></ion-icon>
          </ion-avatar>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-button expand="block" shape="round" color="medium">Save</ion-button>
      <ion-button
        expand="full"
        shape="round"
        color="light"
        style="margin-top: 10px"
        >Skip</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
